@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="picture"></div>
    <h1 class="display-4">Hi I'am <span>Aleksandar</span> Web Designer</h1>
    <button class="contact-btn">Contact</button>
</div>
