@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="banner">
        <div class="picture"></div>
        <h1 class="display-4">Hi <br>I'am <span>Aleksandar</span> <br> Web Designer</h1>
    </div>
    <button class="contact-btn">Contact</button>
</div>
