@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="banner">
        <div class="heading">Hi <br>I'm <span>Aleksandar</span> <br> Web Designer</div>
        <div class="picture"></div>
    </div>
    <button class="contact-btn">Contact</button>
</div>
