.text-center[b-63u3qd1n3w] {
    position: absolute;
    display: inline-block;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    flex-direction: column;
}
.text-center .banner[b-63u3qd1n3w] {
    text-align:center;
}
.text-center .banner .heading[b-63u3qd1n3w]{
    margin: 0, 20px, 0,  20px;
    font-size: 72px;
    display: inline;
    text-align: start;
    float: left;
}
.text-center .picture[b-63u3qd1n3w] {
    float: right;
    display: inline; 
    background: red;
    height: 200px;
    width: 200px;
}
.text-center .banner span[b-63u3qd1n3w] {
    color: red;
}
.text-center .contact-btn[b-63u3qd1n3w] {
    text-align: left;
    color: #fff;
    background: red;
    border: 0;
    border-radius: 5px;
    font-size: 30px;
    padding: 5px, 10px, 5px, 10px;
}

